#signin-button, #signout-button{
    float: left;
    margin-right: 10px;
    margin-left: 20px
}

#user-profile-header img{
    float: right;
    margin-right: 20px;
    margin-bottom:4px;
    margin-top: -65px
}

#list{
    list-style-type: none;
    margin-left: 10px
}

#rootButton{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -5px;
}

#uploadEditor{
    margin-left: 20px;
    margin-top: 5px;
}

#uploadTemplate{
    margin-top: 5px;
}

.panel{
    margin-left:5px;
    margin-right: 5px;
}

#list li{
    margin-bottom:2px;
}

textarea{
    width: 528px;
    height: 300px;
    margin: 5px;
}

#createFolderButton{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 4px;
}

#folderName{
    width: 438px;  
}

#currentFolderName{
    margin-top: 5px;
    width: 344px;
}

body{
    background-color: lightgray
}